@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  background-color: #050708;
  /* cursor: url('cursor.png'), auto;	 */
}

.nav-link {
  color: white;
}

.scroll-down {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.about-us {
  background-color: #121415;
}
.select-form {
  background: transparent;
  color: white;
  border: 0;
}

.purple-card {
  background-color: #5B2E91;
}
#custom-input {
  background: transparent;
  border: 0;
  color: white;
}
#custom-input:focus {
  border: 0;
}
.nav-link:hover, .nav-link:focus {
  color: orange !important;
}

.box {
  transition: transform 0.3s;
}

.box:hover {
  transform: scale(1.1);
  cursor: pointer;
}